/target
/classes
/checkouts
/src/scratch.clj
pom.xml
secret
secrets.yaml
.env.secret.tpl
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
private.yaml
.env.secret
secrets.yaml
.cpcache
keys
.env
pgdata
dev/scratch.clj
ui/build.dev
ui/build.prod
ui/target
.idea/
*.iml
